
html {
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    background-color: RGBA(255, 255, 255, 0.8);
  }

  #app {
    max-width: 800px;
    height: 100vh;
  }

  #lightBulb {
    width: 365px;
    margin: auto;
  }

  #colorControl {
    display: none;
  }

  #login {
    visibility: hidden;
    margin: auto;
  }

  #logoutButton {
    display: none;
  }

  #googleButton{
    background-color: #c84130;
    color: #fff;
  }

  #twitterButton{
    background-color: #52a7e6;
    color: #fff;
  }
  
  #facebookButton{
    background-color: #3f64ac;
    color: #fff;
  }
  
  #githubButton{
    background-color: #23282c;
    color: #fff;
  }